.appContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 500px 1fr;
    height: 100%;
    width: 100%;
  }
  
  .content {
    display: contents; /* Allows nested grids to work properly */
  }
  
  .sideMenu {
    grid-row: 2;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ccc;
  }
  
  .chartContainer {
    grid-row: 2;
    padding: 20px;
    background-color: #f9f9f9;
    margin: 10px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: auto;
  }
  
  .assignmentsContainer {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    overflow-y: auto;
  }
  
  @media (max-width: 768px) {
    .appContainer {
      grid-template-rows: auto auto 1fr;
      grid-template-columns: 1fr;
    }
  
    .chartContainer {
      grid-row: 3;
    }
  
    .assignmentsContainer {
      flex-direction: column;
    }
  
    .assignmentList {
      width: 100%;
      margin: 10px 0;
    }
  }
  