<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
        }
        .assignment-link {
            margin-bottom: 5px;
            padding: 10px;
            font-size: 20px;
            cursor: pointer;
            transition: color 0.3s;
        }
        .assignment-link:hover {
            color: blue;
        }
    </style>
</head>
<body>
    {% load static %}
    <h1>Here is a list of your assignments:</h1>
    <div id="assignment-list"></div>
    <script type="text/javascript">
        var courseCode = "{{ course_code }}";
    </script>
    <script src="{% static 'assignments.js' %}"></script>
</body>
</html>
